
<h4 class="display-5 py-3 text-center mb-5">We take care of you</h4>
<div class="col-lg-10 col-md-10 col-sm-10 d-flex flex-wrap mb-5 justify-content-between mx-auto">
<div class="text-center photo col-lg-5 col-md-6 col-sm-12 p-0">
    <img src="../../assets/luggage.jpg" alt="Luggage" class="rounded">
</div>
<div class="text-center col-lg-6 col-md-6 col-sm-12 mr-auto offset-1 rounded d-flex d-flex align-items-center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus numquam eius at dolore, dolor tenetur! Qui repellendus provident, culpa officia minima veniam velit delectus, labore placeat, voluptatum in? Quae, autem. Iusto impedit rem dolor ex quo, voluptatum est reprehenderit vero repudiandae! Excepturi temporibus aspernatur illum? Velit eveniet odio error?</p>
</div>
</div>

<div class="col-lg-10 col-md-10 col-sm-10 d-flex flex-wrap mt-5 justify-content-between mx-auto">
    <div class="text-center col-lg-6 col-md-6 col-sm-12 ml-auto rounded d-flex align-items-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus numquam eius at dolore, dolor tenetur! Qui repellendus provident, culpa officia minima veniam velit delectus, labore placeat, voluptatum in? Quae, autem. Iusto impedit rem dolor ex quo, voluptatum est reprehenderit vero repudiandae! Excepturi temporibus aspernatur illum? Velit eveniet odio error?</p>
    </div>
    <div class="text-center photo col-lg-5 col-md-6 col-sm-12 p-0 offset-1">
        <img src="../../assets/cocktail.jpg" alt="Cocktail" class="rounded">
    </div>
    </div>